# Python packages and version used in development environment

alabaster==0.7.9
Babel==2.3.4
chaussette==1.3.0
circus==0.14.0
contextlib2==0.5.4
docutils==0.12
imagesize==0.7.1
iowait==0.2
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
PasteDeploy==1.5.2
psutil==4.4.0
Pygments==2.1.3
pyramid==1.7.3
pyramid-crow==0.3.2
pyramid-debugtoolbar==3.0.4
pyramid-mako==1.0.2
pytz==2016.7
PyYAML==3.12
pyzmq==16.0.0
raven==5.31.0
repoze.lru==0.6
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
sphinx-bootstrap-theme==0.4.12
tornado==4.4.2
translationstring==1.3
venusian==1.0
waitress==0.9.0
WebOb==1.6.2
zope.deprecation==4.1.2
zope.interface==4.3.2
