# Python packages and version used in development environment

alabaster==0.7.10
arrow==0.12.1
asn1crypto==0.22.0
attrs==17.4.0
Babel==2.5.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
chaussette==1.3.0
circus==0.14.0
coverage==4.4.2
cryptography==2.1.4
docutils==0.14
hupper==1.0
idna==2.6
imagesize==0.7.1
iowait==0.2
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.4.2
pluggy==0.6.0
psutil==5.4.3
py==1.5.2
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.4.0
pyramid==1.9.1
pyramid-crow==0.4.2
pyramid-debugtoolbar==4.3
pyramid-mako==1.0.2
PySocks==1.6.8
pytest==3.3.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.4
raven==6.5.0
repoze.lru==0.7
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinx_rtd_theme==0.2.4
sphinxcontrib-websupport==1.0.1
tornado==4.5.3
translationstring==1.3
typing==3.6.2
urllib3==1.22
venusian==1.1.0
waitress==0.9.0
WebOb==1.8.0rc1
yapf==0.20.1
zope.deprecation==4.3.0
zope.interface==4.4.3
