<map name="tileclickmap">
    <area shape="rect" coords=" 90,159,144,105"  href="JavaScript: regionMap( 1); void(0);">
    <area shape="rect" coords="144,137,198, 83"  href="JavaScript: regionMap( 2); void(0);">
    <area shape="rect" coords="121,192,174,137"  href="JavaScript: regionMap( 3); void(0);">
    <area shape="rect" coords="174,192,228,137"  href="JavaScript: regionMap( 4); void(0);">
    <area shape="rect" coords="228,192,281,137"  href="JavaScript: regionMap( 5); void(0);">
    <area shape="rect" coords="156,246,209,192"  href="JavaScript: regionMap( 6); void(0);">
    <area shape="rect" coords="209,246,263,192"  href="JavaScript: regionMap( 7); void(0);">
    <area shape="rect" coords="263,246,316,192"  href="JavaScript: regionMap( 8); void(0);">
    <area shape="rect" coords="181,301,235,246"  href="JavaScript: regionMap( 9); void(0);">
    <area shape="rect" coords="235,301,289,246"  href="JavaScript: regionMap(10); void(0);">
    <area shape="rect" coords="289,301,342,246"  href="JavaScript: regionMap(11); void(0);">
    <area shape="rect" coords="256,355,309,301"  href="JavaScript: regionMap(12); void(0);">
    <area shape="rect" coords="309,355,363,301"  href="JavaScript: regionMap(13); void(0);">
    <area shape="rect" coords="161,383,215,329"  href="JavaScript: regionMap(14); void(0);">
    <area shape="rect" coords="215,397,269,343"  href="JavaScript: regionMap(15); void(0);">
    <area shape="rect" coords="269,409,322,355"  href="JavaScript: regionMap(16); void(0);">
    <area shape="rect" coords="322,409,376,355"  href="JavaScript: regionMap(17); void(0);">
    <area shape="rect" coords="316,464,370,409"  href="JavaScript: regionMap(18); void(0);">
    <area shape="rect" coords="284,518,338,464"  href="JavaScript: regionMap(19); void(0);">
    <area shape="rect" coords="338,518,391,464"  href="JavaScript: regionMap(20); void(0);">
</map>
