name: deployment

on:
  push:
    branches: [ 'main' ]

jobs:
  test-deploy:
    name: pytest & deploy on success
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        # Need to specify the Python version here because we use test env, which gets its
        # Python version via matrix
        python-version: [ '3.13' ]

    steps:
      - uses: actions/checkout@v5

      - name: Get current date for downloads cache key
        id: date
        run: echo "date=$(date +%Y-%m-%d)" >> "${GITHUB_OUTPUT}"

      - name: Set up Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462
        with:
           environment-file: envs/environment-test.yaml
           environment-name: salishsea-site-test
           # environment caching does not play nicely with --editable installed packages
           cache-environment: false
           cache-downloads: true
           # persist downloads cache for 1 day
           cache-downloads-key: downloads-${{ steps.date.outputs.date }}-deploy
           create-args: >-
             python=${{ matrix.python-version }}

      - name: pytest package
        shell: bash -l {0}
        run: |
          pytest

      - name: update & restart app via ssh
        uses: appleboy/ssh-action@91f3272fc5907f4699dcf59761eb622a07342f5a
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: ${{ secrets.DEPLOY_PATH }}/deploy.sh
